* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    padding: 10px 0 10px 5px;
    background-color: beige;
    color: black;
}


.menu {
    list-style-type: none;
    display: flex;
}

.menu-item {
    padding-right: 10px;
}

.menu-item:last-child {
    padding-left: 25px;
}

.login {
    margin-top: -35px;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.basket_count {
    margin: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    position: absolute;
    left: 460px;
    border: 2px solid red;
    border-radius: 50%;
}

.product {
    position: relative;
}

.like {
    position: absolute;
    left: 12%;
    top: 10%;
}

.button {
    font-weight: bold;
    color: blue;
}

.order {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}


.order__phone {
    padding: 0px 10px;
}

.order__del {
    padding-left: 10px;
}

.order-zero {
    padding-top: 10px;
    font-weight: bold;
}

